.Button {
  font: inherit;
  border: 1px solid #4f005f;
  background: #4b0b50;
  color: #fff;
  padding: 0.25rem 1rem;
  cursor: pointer;
}

.Button:hover,
.Button:active {
  background: #741188;
  border-color: #741188;
}

.Button:focus {
  /*outline: none;*/
}
