.Form {
  margin: 2rem auto;
  width: 90%;
  padding: 1rem;
  max-width: 40rem;
}

.Form label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.Form input {
  font: inherit;
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  padding: 0.15rem;
  margin-bottom: 0.5rem;
}

.Form input:focus {
  outline: none;
  border-color: #4f005f;
}
